/* .bg_wallpaper{

    background-image: url('../poke_app//assets/bg1.jpg');
} */

.nav_link {
    transition: transform 0.3s ease;
}


.nav_link:hover {
    transform: scale(1.6); /* Enlarge the link on hover */
    color: rgb(48, 104, 187);
}


.shop1{
    transition: transform 0.3s ease;
    background-image: url('./assets/store1.png');
}

.shop2{
    transition: transform 0.3s ease;
    background-image: url('./assets/shop2.webp');
}

.shop3{
    transition: transform 0.3s ease;
    background-image: url('./assets/store3.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}



.shop1:hover {
    transform: scale(1.2); /* Enlarge the link on hover */
    
}
.shop2:hover {
    transform: scale(1.2); /* Enlarge the link on hover */
    
}
.shop3:hover {
    transform: scale(1.2); /* Enlarge the link on hover */
    
}

.bg_heading {
    font-size: 5rem; /* Adjust font size as needed */
    display: inline-block;
    perspective: 1000px;
  }

  .flipped {
    animation: flip 1s;
    transform-style: preserve-3d;
  }

  @keyframes flip {
    0% {
        transform: rotateX(0);
      }
      50% {
        transform: rotateX(90deg);
      }
      100% {
        transform: rotateX(0);
      }
}
.shop1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.shop1:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.bg-image {
    position: relative;
    z-index: -1;
    height: 100%; /* Make sure the image covers the whole container */
}


.product {
    transition: transform 0.6s ease, background-color 0.9s ease; /* Added ease for background-color */
    
}
  
  .product:hover {
    transform: scale(1.27);
    background-color: rgb(207, 30, 30);
  }

  .FeaturedProducts {
    background-image: linear-gradient(rgba(245, 241, 241, 0), rgba(255, 255, 255, 0.5)), url('./assets/bg5.jpg');
    
}


.Products {
    margin-top: 7%;
    border: 3pt solid red;
    padding-left: 2%;
    padding-right: 2%;
}

@media screen and (max-width: 640px) {
    .Products {
        margin-top: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


.PopularProduct{
    margin-top: 5%;
    margin-left: 5%;
}